@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 12 12 14;
  --foreground: 245 245 247;
  --accent: 132 204 22;
}

html,
body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
}
